<div>
    <form id="contentForm" name="contentForm" novalidate ng-submit="contentForm.$valid && save()">
        <fieldset>
            <div class="row">
                <div class="form-group col-md-6 required" ng-class="{ 'has-error' : contentForm.inputTitle.$invalid && !contentForm.inputTitle.$pristine }">
                    <label for="inputTitle" class="control-label">{{'CHELL_CMS.CONTENT_FORM.TITLE' | translate}}</label>
                    <input class="form-control" id="inputTitle" name="inputTitle" placeholder="{{'CHELL_CMS.CONTENT_FORM.PH_TITLE' | translate}}" required
                           ng-model="editContent.title" autofocus/>
                    <p ng-show="contentForm.inputTitle.$invalid && !contentForm.inputTitle.$pristine" class="help-block">{{'CHELL_CMS.CONTENT_FORM.ERROR_TITLE' | translate}}</p>
                </div>
                <div class="form-group col-md-6">
                    <label for="inputContentId" class="control-label">{{'CHELL_CMS.CONTENT_FORM.CONTENT_ID' | translate}}</label>
                    <input class="form-control" id="inputContentId" placeholder="{{'CHELL_CMS.CONTENT_FORM.PH_GENERATED' | translate}}" readonly="true"
                           ng-model="editContent.id" tabindex="-1"/>
                </div>
            </div>
            <textarea ckeditor="editorConfig" ng-model="editContent.body"></textarea>
            <div class="form-group required">
                <label for="inputStatus" class="control-label">{{'CHELL_CMS.CONTENT_FORM.STATUS' | translate}}</label>
                <select class="form-control" id="inputStatus" ng-model="editContent.status" ng-value="'approved'" required>
                    <option>approved</option>
                    <option>draft</option>
                </select>
            </div>
        </fieldset>
        <button type="submit" class="btn btn-primary" ng-disabled="contentForm.$invalid">{{'CHELL_CMS.CONTENT_FORM.SAVE_BUTTON' | translate}}</button>
        <button class="btn btn-default" ng-click="cancel()">{{'CHELL_CMS.CONTENT_FORM.CANCEL_BUTTON' | translate}}</button>
    </form>
</div>