<div class="webcontent">
    <div class="webcontent-buttons" ng-hide="readOnly()">
        <a class="btn btn-xs webcontent-button" id="webcontent-inline-save-button" ng-hide="!isInline" ng-click="inlineSave()" ><i class="glyphicon glyphicon-ok"></i></a>
        <a class="btn btn-xs webcontent-button" id="webcontent-inline-cancel-button" ng-hide="!isInline" ng-click="inlineCancel()" ><i class="glyphicon glyphicon-remove"></i></a>
        <a class="btn btn-xs webcontent-button" id="webcontent-inline-button" ng-hide="empty || isInline" ng-click="inline()" ><i class="glyphicon glyphicon-pencil"></i></a>
        <a class="btn btn-xs webcontent-button" id="webcontent-edit-button" ng-hide="empty || isInline" ng-click="edit()" ><i class="glyphicon glyphicon-edit"></i></a>
        <!--<a class="btn btn-xs webcontent-button" id="webcontent-select-button" ng-hide="isInline" ng-click="select()"><i class="glyphicon glyphicon-check"></i></a>-->
    </div>
    <div ng-bind-html="toTrusted(content.body)" class="content"></div>
</div>




