.webcontent > .webcontent-button {
  opacity: 0;
}
.webcontent:hover .webcontent-button {
  opacity: 1;
}
.webcontent-button {
  z-index: 10001;
}
.webcontent.empty {
  height: 25px;
}
.webcontent.empty:hover {
  border: 1px solid #ddd;
}
.form-group.required .control-label:after {
  content: "*";
  color: #a94442;
}
.modal-wide .modal-dialog {
  width: 800px;
}
[contenteditable="true"] {
  z-index: 9000;
}
[contenteditable="true"]:hover {
  z-index: 9000;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: rgba(141, 192, 219, 0.25);
}
